<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Gamerxville || {% block title %}{% endblock title %}</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width initial-scale=1'>
	<link rel='stylesheet' href='serve/css/w3.css'>
	<script src='serve/js/w3.js'></script>
</head>
<body>
	<header class='w3-display-container w3-bar w3-top'>
		{% set navigation = [
		{
			'url': '/',
			'class': 'w3-bar-item w3-button',
			'id': 'index',
			'icon': 'fa fa-home',
			'text': 'Home'
		},
		{
			'url': '/about',
			'class': 'w3-bar-item w3-button',
			'id': 'about',
			'icon': 'fa fa-home',
			'text': 'About'
		},
		{
			'url': '/login',
			'class': 'w3-bar-item w3-button',
			'id': 'login',
			'icon': 'fa fa-sign-in',
			'text': 'Login'
		},
		{
			'url': '/search',
			'class': 'w3-bar-item w3-button w3-right',
			'id': 'search',
			'icon': 'fa fa-search',
			'text': ''
		},
	]%}
	<nav class="w3-bar w3-light-grey w3-border w3-card-4">
	{% for nav in navigation%}
		<a href="{{nav['url']}}" id="{{nav['id']}}" class="{{nav['class']}}"><i class="{{nav['icon']}}"></i>{{nav['text']}}</a>
	{% endfor %}
	</nav>
	</header>
	
	<div class='w3-row-padding w3-container w3-card-2'>
		{% block content %}{% endblock content %}
	</div>

	<footer class='w3-display-container'>
	</footer>

	<script src='assets/js/script.js'></script>
</body>
</html>